.btn {
  font-size: 14px;
  font-family: 'Gotham Medium';
  padding: 8px 15px;
  border-radius: 17px;
}

.btn-green {
  @apply bg-green-400 border-solid border-2 border-green-400 ;
  &:hover {
    @apply bg-white ;
  }
}

.btn-white-green {
  @apply bg-white border-solid border-2 border-green-400 ;
  &:hover {
    @apply bg-green-400 ;
  }
}

.btn-purple {
  @apply bg-purple-800 border-solid border-2 border-purple-800 ;
  &:hover {
    @apply bg-white text-purple-800 ;
  }
}

.btn-white-gray {
  @apply bg-white border-solid border-2 border-gray-400 text-gray-400 ;
  &:hover {
    @apply bg-gray-400 text-white ;
  }
}
