<div class="fluid-container board-row-fluid bg-cover bg-no-repeat"></div>
<div class="2xl:mx-72">
  <div class="panel-post mr-homepage-panel -mt-4 mb-20">
    <h1 class="gt-Black text-3xl mb-4">Vous souhaitez être accompagné.e dans votre démarche d'investissement ?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sint quasi, delectus voluptatem repudiandae facilis doloribus tempore dignissimos?</p>
    <ul class="ul-li-inside pt-8">
      <li class="pb-3.5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li class="pb-3.5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li class="pb-3.5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li class="pb-3.5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li class="pb-3.5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
    <div class="text-center mt-8">
      <a class="btn btn-white-green">Prendre RDV <i class="fas fa-phone ml-2.5"></i></a>
    </div>
  </div>
</div>
