<h1 class="abel">Static#index</h1>

<div class="red-card">
  <p>Test-Tailwind</p>
</div>

<button class="btn">PUSH</button>


<form>
  <input type="checkbox" id="myCheck" onmouseover="myFunction()" onclick="alert('click event occured')">
</form>


<script>
function myFunction() {
  document.getElementById("myCheck").click();
}
</script>
