@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800";

@font-face {
  font-family: 'Gotham Ultra';
  src: font-url('GothamUltra.woff2') format("woff2"), font-url('GothamUltra.woff') format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: font-url('GothamMedium.woff2') format("woff2"), font-url('GothamMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: font-url('GothamBook.woff2') format("woff2"), font-url('GothamBook.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Extra Light';
  src: font-url('GothamExtraLight.woff2') format("woff2"), font-url('GothamExtraLight.woff') format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Thin';
  src: font-url('GothamThin.woff2') format("woff2"), font-url('GothamThin.woff') format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: font-url('GothamBlack.woff2') format("woff2"), font-url('GothamBlack.woff') format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: font-url('GothamLight.woff2') format("woff2"), font-url('GothamLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: font-url('GothamBold.woff2') format("woff2"), font-url('GothamBold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.woff2') format("woff2"), font-url('glyphicons-halflings-regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

