// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gt-Bold {
  font-family: "Gotham Bold";
}

.gt-Meduim {
  font-family: "Gotham Medium";
}

.navbar-links {
  font-size: 14px;
}

.fa-gift {
  font-size: 20px;
  margin-top: -3px;
}

.fa-circle {
  position: relative;
  top: -21px;
  left: 32px;
  color: red;
  font-size: 8px;
}





