.navbar-links {
  font-size: 14px;
}

.fa-gift {
  font-size: 20px;
  margin-top: -3px;
}

.fa-circle {
  position: relative;
  top: -21px;
  left: 32px;
  color: red;
  font-size: 8px;
}

.menu-mobile {
  height: 100vh;
  margin-top: 1px;
  width: 65%;
  float: right;
}

.board-row-fluid {
  background-image: asset-url("homepage.jpg");
  height: 35rem;
  @media (max-width: 640px) {
    height: 13rem;
  }
}

.panel-post {
  margin-right: 38rem;
}

.ul-li-inside {
  list-style: inside;
}


