<footer class="bg-white border-t border-1 border-gray-light">
  <div class="sm-container xl:mx-28 2xl:mx-72">
    <div class="md:grid-cols-4 lg:grid md:gap-4">
      <div class="py-8 text-center lg:text-left">
        <p class="gt-Bold">Abonnez-vous à la newsletter</p>
        <div class="relative text-gray-700 mt-8">
          <input class="lg:w-full abel h-10 pl-3 pr-8 ft-size-14 placeholder-gray-600 border rounded-lg" type="text" placeholder="Votre adresse email"/>
          <button class="absolute inset-y-0 lg:right-0 toto flex items-center px-4 border-l-2 border-fuchsia-600">
            <i class="fas fa-envelope"></i>
          </button>
        </div>

        <ul class="social-icons pt-3">
          <li class="link_facebook"><a href=""></a></li>
          <li class="link_twitter"><a href=""></a></li>
          <li class="link_linkedin"><a href=""></a></li>
          <li class="link_google"><a href=""></a></li>
          <li class="link_instagram"><a href=""></a></li>
        </ul>

        <p class="ft-size-14 pt-3">24 bis rue du Rhin, 75019 PARIS</p>
        <p class="ft-size-14 pt-3">
          <i class="fas fa-mobile-alt"></i> +33 1 87 65 20 42
        </p>
        <p class="ft-size-14 pt-3">
          <i class="fas fa-envelope"></i> contact@lita.co
        </p>
      </div>

      <div class="flex justify-around md:col-start-2 md:col-span-2 ">
        <div class="py-8 text-center md:text-left">
          <p class="gt-Bold">LITA.CO</p>
          <ul class="d-none-sm">
            <li class="ft-size-14 pt-3">Équipe</li>
            <li class="ft-size-14 pt-3">Recrutement</li>
            <li class="ft-size-14 pt-3">Média et presse</li>
            <li class="ft-size-14 pt-3">Blog</li>
          </ul>
        </div>

        <div class="py-8 text-center md:text-left">
          <p class="gt-Bold">Investisseur</p>
          <ul class="d-none-sm">
            <li class="ft-size-14 pt-3">Réduire mes impôts</li>
            <li class="ft-size-14 pt-3">FAQ</li>
            <li class="ft-size-14 pt-3">Invitez vos amis</li>
            <li class="ft-size-14 pt-3">Vous êtes business angel ?</li>
          </ul>
        </div>
      </div>

      <div class="bg-green-400 md:mt-0 text-center md:text-left">
        <div class="p-8 text-white">
          <p class="gt-Bold">Entrepreneurs</p>
          <p class="pt-3 ft-size-19">Vous portez une innovation à fort impact positif sur notre société et/ou notre planète ?</p>
          <div class="text-center pt-3 mt-4">
            <a href="" class="btn btn-green-white uppercase">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
